@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Contribution

<h2>Ajouter une Contribution</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Amount" class="control-label"></label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ContributionDate" class="control-label"></label>
        <input asp-for="ContributionDate" type="date" class="form-control" />
        <span asp-validation-for="ContributionDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserId" class="control-label"></label>
        <input asp-for="UserId" class="form-control" />
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProjectId" class="control-label"></label>
        <input asp-for="ProjectId" class="form-control" />
        <span asp-validation-for="ProjectId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Ajouter" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

